<body {
	margin:0;
}
#iframe-head{
	width: 100%;
	border: 0;
	margin: 0;
}
#iframe-foot{
	width: 100%;
	height: 100%;
	border:0;
	margin-bottom: 0;
}

#container{
	width:85%;
	margin: 0 auto 10px auto;
	background-color: #ccc;
	min-height: 300px;
	padding: 2px;
}