<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
     
      <link rel="stylesheet" type="text/css" href="../css/head.css">
      </head>
    <body>
         <div id="header">
            <ul class="menu">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="somos.html">Quienes somos</a></li>
                <li><a href="mision.html">Misión</a></li>
                <li><a href="vision.html">Visión</a></li>
                <li><a href="precios.html">Tienda</a></li>
                <li><a href="contac.html">Contacto</a></li>
            </ul>
        </div>
        <div clas="divimage">
            <img src="images\logoH4us.png" width="80%">
        </div>
    </body>
    </html>